.pokemon-item {
  background-color: #f4f4f4;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

.pokemon-title {
  font-size: 1.2rem;
  margin: 10px 0;
}

.pokemon-item button {
  padding: 5px;
  border-radius: 10px;
  background-color: grey;
}
